/**
 * Basic CSS Selectors
 */

p {
   background-color: #fff;
}

body {
   background-color: #fff;
}

/* unsure how to change the background of the table cell
   this is definitely a question of selectors of the right tags */
category1 {
   background-color: #72f974;
}