/**
 * Basic CSS Selectors
 */

p {
   background-color: #fff;
   font-family: "Trebuchet MS";
}

body {
   background-color: #fff;
}

h3 {
   font-family: "Trebuchet MS";
   font-size: 1em;
}

/* Learning moment: So what I did to move my information section to the bottom right
was to make the entire article I was emulating into its own div id. The from there I
used the the position "absolute" (which positions stuff relative to the nearest positioned
ancester; which in this case is the whole nat geo article) for the information div class.

I altered the natgeoarticle position to static since things were freaking out (uncertain)
if that's the correct thing to do.
*/

.NatGeoArticle {
   position: static;
}


.information {
   position: absolute;
   bottom: 0;
   right: 0;
   height: 900px; /* hard set the height here, might cause problems with div above in the future */
   width: 380px; /* also hard set the width of the information section, see above for possible mistake */
}

.day_6_11 {
   position: absolute;
   margin-left: auto;
   margin-right: auto;
}

/* tags for div id = information */

#iceland {
   padding-bottom: 5px;
}


#info_table {
   line-height: 2px;
   border-collapse: collapse;
   border-style: hidden;
   border: 1px solid white;
}

#money td {
   border-style: hidden;
   border-collapse: collapse;
}

/* */

#green_row {
   background-color: #72f974;
   border-style: hidden;
   font-family: "Trebuchet MS";
   }
   
#green_text {
   padding-left: 10px;
}

/* Orange */

#orange_row {
   background-color: #ffcc00;
   border-style: hidden;
   font-family: "Trebuchet MS";
}

#orange_text {
   padding-left: 10px;
}

/* Yellow */

#yellow_row {
   background-color: #ffff66;
   border-style: hidden;
   font-family: "Trebuchet MS";
}

#yellow_text {
   padding-left: 10px;
}

/* Brown */

#brown_row {
   background-color: #ffdf80;
   border-style: hidden;
   font-family: "Trebuchet MS";
}

#brown_text {
   padding-left: 10px;
}

/* Blue */

#blue_row {
   background-color: #99bbff;
   border-style: hidden;
   font-family: "Trebuchet MS";
}

 #blue_text {
    padding-left: 10px;
 }

/* Purple */

#purple_row {
   background-color: #bf80ff;
   border-style: hidden;
   font-family: "Trebuchet MS";
}

#purple_text {
   padding-left: 10px;
}

/* Prune */

#prune_row {
   background-color: #ff9999;
   border-style: hidden;
   font-family: "Trebuchet MS";
}

#prune_text {
   padding-left: 10px;
}

/* ---- Headers above Expedition Cost ---- */

#info_header {
   padding-top: 20px;
   padding-bottom: 20px;
   font-family: "Trebuchet MS";
   background-color: #737373;
   line-height: 20%;
   padding-left: 25px;
   color: white;
}

#date_header{
   padding-top: 5px;
   font-family: "Trebuchet MS";
   line-height: 30%;
}

#expedition_date {
   
   font-family: "Trebuchet MS";
   font-size: 1.5em;
   line-height: 30%;
}

#expedition {
   
   font-family: "Trebuchet MS";
   font-size: 1.5em;
   line-height: 30%;
   padding-top: 20px;
}

#info_des {
   font-family: "Trebuchet MS";
}

#opt_ext {
   font-family: "Trebuchet MS";
}
/* tags for div id = day_6_11 */

.day_x {
   color: blue;
}
