/**
 * Basic CSS Selectors
 */

p {
   background-color: #fff;
}

body {
   background-color: #fff;
}

/* Learning moment: So what I did to move my information section to the bottom right
was to make the entire article I was emulating into its own div id. The from there I
used the the position "absolute" (which positions stuff relative to the nearest positioned
ancester; which in this case is the whole nat geo article) for the information div class.

I altered the natgeoarticle position to static since things were freaking out (uncertain)
if that's the correct thing to do.
*/

.NatGeoArticle {
   position: static;
}


.information {
   position: absolute;
   bottom: 0;
   right: 0;
   height: 900px;
}

.day_6_11 {
   position:absolute;
   bottom: 0;
   left: 4;
}

/* tags for div id = information */

#info_table {
   line-height: 2px;
   border-collapse: collapse;
   border-style: hidden;
}

#money td {
   border-style: hidden;
   border-collapse: collapse;
}

#green_row {
   background-color: #72f974;
   border-style: hidden;
}

#orange_row {
   background-color: #ffcc00;
   border-style: hidden;
}

#yellow_row {
   background-color: #ffff66;
   border-style: hidden;
}

#brown_row {
   background-color: #ffdf80;
   border-style: hidden;
}

#blue_row {
   background-color: #99bbff;
   border-style: hidden;
}

#purple_row {
   background-color: #bf80ff;
   border-style: hidden;
}

#prune_row {
   background-color: #ff9999;
   border-style: hidden;
}

#info_header {
   height: 20px;
   font-family: "Trebuchet MS";
   background-color: #737373; /* I think the height is messing with the background fill */
}

#date_header{
   height: 10px;
   font-family: "Trebuchet MS";
}

#expedition_date {
   height: 20px;
   font-family: "Trebuchet MS";
   font-size: 1.5em;
}

#expedition {
   height: 15px;
   font-family: "Trebuchet MS";
   font-size: 1.5em;
}

/* tags for div id = day_6_11 */
